# Ignorar carpetas
__pycache__/
.pytest_cache/
.cache/
.pyc/
.png/
.txt/
.log/
.ini/
.vscode/
.idea/
.cursor/
.github/
.github/chatmodes/
.typings/
.idea/

# Ignorar carpeta
.github/
documentation/
test/
tools/
input/
input2/
output/
input3/
logs/
.txt/
dist/
build/
.vscode/

# Ignorar cualquier archivo .ini
*.ini
*.txt
*.png
*.jpg
*.jpeg
*.pkl
*.pdf
*.spec
*__pycache__

# Ignorar perfectocr.txt
*.cursorignore
*cursorignore/
cursorignore
*perfectocr.txt
perfectocr.txt/

# secrets
.env